<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Front_End.UI.FindAirDeviceConnectActvity"
            android:exported="false" />
        <activity
            android:name=".Front_End.UI.FindAirChooseMedication"
            android:exported="false" />
        <activity
            android:name=".Front_End.UI.FindAirAddDevice"
            android:exported="false" />
        <activity
            android:name=".Front_End.UI.VideoPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.PDFGenerator"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".Front_End.UI.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="eu.findair.sdk.ACTION_BOOT_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Front_End.UI.FindAirActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.ReportDeatailDairyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.ReportResultDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.SelectDateForReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.ReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".Front_End.UI.Notification"
            android:enabled="true" />

        <activity
            android:name=".Front_End.UI.ReminderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.DailyDairyMedicationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.DailyDairyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.ActionPlanTemplateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.AddImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.MedicationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.PatientProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.MyActionPlanMedicationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.MyActionPlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.MyDailyZoneActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.DailyZoneMyReadingSaveActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.DailyZoneReadingSpirometerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.DailyZoneReadingsPeakFlowMeterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.DailyZoneMyReadingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.DailyZoneMysymptomsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.PasswordResetSuccessful"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.ForgotPasswordRest"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.VerifySuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.VerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.TermsNConditionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Front_End.UI.SelectLanguage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Front_End.UI.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>